
{% extends "base.html"%}
{% block body%}
<div>
    <h2 style="text-align: center;">Accounts Page</h2> <br><br>
    <form action="/accounts", method="post">
        <label for="type">Filter By:</label>

        <select name="type">
            <option value="All">All</option>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select> <br><br>

        <input type="submit" value="Submit">
      </form>
      {% for account in accounts%}
        <ul>
            <li>Account ID: {{ account[0]}}</li>
            <ul>
                <li>First Name: {{ account[1]}}</li>
                <li>Last Name: {{ account[2]}}</li>
                <li>Account Type: {{ account[5]}}</li>
            </ul>
        </ul>
      {% endfor%}
</div>
{% endblock%}