
{% extends "base.html"%}
{% block body%}
<div>
    <h2 style="text-align: center;">Answers Page</h2> <br><br>
    <form action="/viewAnswer", method="post">
        <label for="testId">Choose a test see all responses:</label>
        <select name="testId">
            {% for testId in testIds%}
                <option value="{{testId[0]}}">{{testId[0]}}</option>
            {% endfor%}
        </select> <br><br>
        <input type="submit" value="Submit">
      </form>
      <h3>Question:</h3>
      <ul>
        <li>Test: {{questions[0]}}</li>
        <ul>
            <li>Question 1: {{questions[1]}}</li>
            <li>Question 2: {{questions[2]}}</li>
            <li>Question 3: {{questions[3]}}</li>
        </ul>
      </ul>
      <h3>Answers:</h3>
      {% for answer in answers%}
      <ul>
          <li>Taken By: {{ answer[3]}}</li>
          <ul>
              <li>Answer for question 1: {{ answer[0]}}</li>
              <li>Answer for question 2: {{ answer[1]}}</li>
              <li>Answer for question 3: {{ answer[2]}}</li>
          </ul>
      </ul>
      {% endfor%}
</div>
{% endblock%}